{{ $board := cslice (cslice 0 0 0 0 0 0 0 0 0) (cslice 0 0 0 0 0 0 0 0 0) (cslice 0 0 0 0 0 0 0 0 0) (cslice 0 0 0 0 0 0 0 0 0) (cslice 0 0 0 0 0 0 0 0 0) (cslice 0 0 0 0 0 0 0 0 0) (cslice 0 0 0 0 0 0 0 0 0) (cslice 0 0 0 0 0 0 0 0 0) (cslice 0 0 0 0 0 0 0 0 0) }}
{{ $printBoard := "" }}
{{ $emptySlots := cslice }}


{{ range $r := seq 0 9 }}
{{- range $c := seq 0 9 -}}
    {{- if eq (index $board $r $c) 0 -}}
        {{- $emptySlots = $emptySlots.Append (cslice $r $c) -}}
    {{- end -}}
{{- end -}}
{{- end -}}


{{ range $r := seq 0 9 }}
    {{- if eq $r 3 6 -}}
        {{- $printBoard = println $printBoard -}}
    {{- end -}}
{{- range $c := seq 0 9 -}}
    {{- if eq $c 8 -}}
        {{- $printBoard = println $printBoard (index $board $r $c) -}}
    {{- else if eq $c 3 6 -}}
        {{- $printBoard = print $printBoard "        " (index $board $r $c) -}}
    {{- else if eq $c 0 -}}
        {{- $printBoard = print $printBoard (index $board $r $c) -}}
    {{- else -}}
        {{- $printBoard = print $printBoard " " (index $board $r $c) -}}
    {{- end -}}
{{- end -}}
{{- end -}}


{{ print "```\n" $printBoard "```" }}
{{ $emptySlots }}
