{{/*
	Name: Duck spawner 
    Author: Dr. Hyakkimaru#6020
    Trigger Type: Regex
    Trigger: `\A`
*/}}

{{ $channel := 692684680939700234 }} {{/* Change the number with the channel_ID where ducks will spawn */}}

{{/* Do not change anything brlow */}}

{{ if not (dbGet 0 "quack") }}
{{ if not .ExecData}}
{{ execCC .CCID $channel 100 "data" }}
{{else}}

{{ $list := cslice "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S" "T" "U" "V" "W" "X" "Y" "Z" "1" "2" "3" "4" "5" "6" "7" "8" "9" "0" }}
{{ $d := "" }}
{{ range seq 0 4 }}
{{$d = print $d (index $list (randInt (len $list)))}}
{{ end }}

{{ $base := "https://random-d.uk/api/" }}
{{ $link := printf "%s%d.jpg" $base (randInt 1 130) }}
{{ $gen := print "https://api.memegen.link/images/custom/_/" $d ".png?background=" }}
{{ $post := print $gen $link }}

{{ $id := " " }}
{{ if and $d $post }}
{{ $id = sendMessageRetID $channel (cembed "color" 0xf8ff02 "title" "Pick the 🦆 up by typing -pick <code>" "image" (sdict "url" $post) ) }}
{{ end }}
{{ dbSetExpire 0 "quack" (sdict "1" $d "2" $id "3" $channel) 604800 }}
{{ end }}
{{ end }}
