{{/*
	Name: Wheel of Fortune
	Author: Dr. Hyakkimaru#6020
	
	Recommended:
	- Trigger Type: Regex
	- Trigger: `\A\-(?i)wheel(offortune)?`

	Copyright: 2021 Hyakki999
	License: MIT
	Repository: https://github.com/Hyakki999/YAGPDB-cc
*/}}


{{/*	Configuration Variables	*/}}

{{/*	Name Of The Key Of Your DB That Stores Users Currency Amount	*/}}
	{{ $dbName := "CREDITS" }}
{{/*	Error Message Telling User Doesn't Have Enough Credits To Place Bet	*/}}
	{{ $limit := " insufficient 🦆" }}
{{/*	Error Message Telling Not To Bet Less Than 1 🦆	*/}}
	{{ $bb1 := " you have to bet at least 1 🦆" }}
{{/*	Help Message To Show The Usage	*/}}
	{{ $helpText := "```\nwheel <amount>```\nPlace a bet on wheel" }}


{{/*	DO NOT CHANGE ANYTHING BELOW	*/}}

{{ $arrows := dict 0.1 `\↙️` 0.2 "←" 0.3 "↓" 0.5 `\↘️` 1.2 "→" 1.5 `\↖️` 1.7 "↑" 2.4 `\↗️` }}
{{ $firstHalf := "   『1.5』   『1.7』   『2.4』\n\n『0.2』      " }}
{{ $secondHalf := "      『1.2』\n\n     『0.1』   『0.3』   『0.5』" }}
{{ $bal := toInt (dbGet .User.ID $dbName).Value }}
{{ $red := 0xff2627 }} {{ $gre := 0x76ff03 }} {{ $pos := 1.0 }}


{{ with .CmdArgs}}
	{{ $bet := index . 0 | toInt }}
	{{ if ge $bet 1 }}
		{{ if ge $bal $bet }}
			{{ if lt (randInt 0 11) 7 }}
				{{ $pos = index (cslice 0.1 0.3 0.5 0.2 | shuffle) 0 }}
			{{ else }}
				{{ $pos = index (cslice 1.2 2.4 1.7 1.5 | shuffle) 0 }}
				{{ end }}

			{{ $arrow := $arrows.Get $pos }}
			{{ $amount := toInt ( round ( mult ( toFloat $bet ) $pos ) ) }}
			{{ $_ := dbIncr $.User.ID $dbName ( mult -1 $bet ) }}
			{{ $_ := dbIncr $.User.ID $dbName $amount }}
			{{ sendMessage nil ( cembed "color" $gre "title" ( print $.User.String " won: " $amount "🦆\n\n" $firstHalf $arrow $secondHalf ) ) }}

		{{ else }}
			{{ sendMessage nil ( cembed "color" $red "title" ( print $.User.String $limit ) ) }}
			{{ end }}
	{{ else }}
		{{ sendMessage nil ( cembed "color" $red "title" ( print $.User.String $bb1 ) ) }}
		{{ end }}
{{ else }}
	{{ sendMessage nil ( cembed "color" $red "title" "Wheeloffortune / wheel" "description" $helpText ) }}
	{{ end }}
