{{/*
	Basic commands [Pick, Currency[$], Timely, Give]
	Author: Dr. Hyakkimaru#6020

	Recommended:
	- Trigger Type: Regex
	- Trigger: `\A\-(?i)\s*(timely|\$|currency|pick|give)`

	Copyright: 2021 Hyakki999
	License: MIT
	Repository: https://github.com/Hyakki999/YAGPDB-cc
*/}}

{{/* Configuration Section */}}

{{/* DB key that stores user credit */}}
{{ $dbName := "CREDITS" }}

{{/* Do Not Change Anything Below */}}
{{ $red := 0xff2627 }} {{ $gre := 0x76ff03 }}
{{ $bal := toInt (dbGet .User.ID $dbName).Value }}

{{/* Daily */}}
{{ if eq (lower (index .Args 0) ) "-timely" }}
	{{ if (dbGet .User.ID "timely") }}
		{{ $left := humanizeDurationSeconds ((dbGet .User.ID "timely").ExpiresAt.Sub currentTime) }}
		{{ sendMessage nil (cembed
			"color" $red
			"title" (print .User.String "\n🕛 ~~~ **`Daily`**: " $left ))
		}}
	{{ else }}
		{{ $t := dbIncr .User.ID $dbName 30 }}
		{{ sendMessage nil (cembed
			"color" $gre
			"title" (print .User.String "\nyou have claimed your daily 30🦆."))
		}}
		{{ dbSetExpire .User.ID "timely" "d" 86400 }}
		{{end}}

{{/* Balance */}}
{{else if eq (index .Args 0) "-$" "-currency" }}
	{{ with .Message.Mentions }}
		{{ $bal = toInt (dbGet (index . 0).ID $dbName).Value }}
		{{ sendMessage nil (cembed
			"color" $gre
			"title" (print (index . 0).Username " has " $bal "🦆"))
		}}
	{{ else }}
		{{ sendMessage nil (cembed
			"color" $gre
			"title" (print $.User.Username " has " $bal "🦆"))
		}}
		{{ end }}

{{/* Pick */}}
{{ else if eq (lower (index .Args 0) ) "-pick" }}
	{{ if (dbGet 0 "quack") }}
		{{ $g := sdict (dbGet 0 "quack").Value }}

		{{ if .CmdArgs }}
		{{ if eq (index .CmdArgs 0 | upper) ($g.Get "1") }}
			{{ $duck := randInt 1 8 }}
			{{ $silent := dbIncr .User.ID $dbName $duck }}

			{{ if (getMessage ($g.Get "3") ($g.Get "2")) }}
				{{ editMessage ($g.Get "3") ($g.Get "2") (cembed
					"color" $gre
					"title" (print .User.String " has picked " $duck "🦆"))
				}}
				{{ deleteMessage ($g.Get "3") ($g.Get "2") 60 }}
				{{ end }}

			{{ $list := cslice "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S" "T" "U" "V" "W" "X" "Y" "Z" "1" "2" "3" "4" "5" "6" "7" "8" "9" "0" }}
			{{ $d := "" }} {{ range seq 0 20 }} {{ $d = print $d (index (shuffle $list) 0) }} {{ end }}
			{{ dbSetExpire 0 "quack" (sdict "1" $d) 60}}

		{{ end }}
		{{ end }}
	{{ end }}
	{{ deleteTrigger 0 }}

{{/* Give */}}
{{ else if eq (lower (index .Args 0) ) "-give" }}
	{{ $args := parseArgs 2 "-give <user> <amount>"
		(carg "member" "ID/mention")
		(carg "int" "Amount")
	}}

	{{ $sender := .User.ID }}
	{{ $receiver := ($args.Get 0).User }}
	{{ $gift := $args.Get 1 }}

	{{ if ne $sender $receiver.ID }}
		{{ if ge $gift 1 }}
			{{ if ge $bal $gift }}
				{{ $silent1 := dbIncr $sender $dbName (mult -1 $gift) }}
				{{ $silent2 := dbIncr $receiver.ID $dbName $gift }}
				{{ sendMessage nil (cembed "color" $gre "title" (print .User.String "\nYou gifted " $gift "🦆 to " $receiver.String)) }}
			{{ else }}
				{{ sendMessage nil (cembed "color" $red "title" (print .User.String "\ninsufficient 🦆")) }}
				{{ end }}
		{{ else }}
			{{ sendMessage nil (cembed "color" $red "title" (print .User.String "\nAmount is lower than 1")) }}
			{{ end }}
	{{ else }}
		{{ sendMessage nil (cembed "color" $red "title" (print .User.String "\nYou gifted yourself " (randInt 68 420) "🦆")) }}
		{{ end }}
	{{ end }}